:root {
  --font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 36px;
  gap: 32px;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.form {
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #2e2f42;
}

input:hover {
  border-color: #000000;
}

input:focus,
input:active {
  outline: none;
  border-color: #4e75ff;
}

input::placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
}

#controls button {
  width: 150px;
}

button {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #4e75ff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 360px;
  height: 200px;
  transition: transform 0.2s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(46, 47, 66, 0.12);
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-item img {
  object-fit: cover;
  object-position: center;
  width: 360px;
  height: 152px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  height: 48px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: #2e2f42;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info a {
  line-height: 24px;
}

.info.params {
  line-height: 16px;
  font-weight: 600;
}

.hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

#loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #ffa85c;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
